<a href="https://colab.research.google.com/github/GODxFATHER/Airbnb-Bookings-Analysis-/blob/main/Airbnb_Bookings_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Since 2008, guests and hosts have used Airbnb to expand on traveling possibilities and present a more unique, personalized way of experiencing the world. Today, Airbnb became one of a kind service that is used and recognized by the whole world. Data analysis on millions of listings provided through Airbnb is a crucial factor for the company. These millions of listings generate a lot of data - data that can be analyzed and used for security, business decisions, understanding of customers' and providers' (hosts) behavior and performance on the platform, guiding marketing initiatives, implementation of innovative additional services and much more. </b>

## <b>This dataset has around 49,000 observations in it with 16 columns and it is a mix between categorical and numeric values. </b>

## <b> Explore and analyze the data to discover key understandings (not limited to these) such as : 
* What can we learn about different hosts and areas?
* What can we learn from predictions? (ex: locations, prices, reviews, etc)
* Which hosts are the busiest and why?
* Is there any noticeable difference of traffic among different areas and what could be the reason for it? </b>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
path = '/content/drive/MyDrive/DATA_FILES/Airbnb_NYC_2019.csv'

df1 = pd.read_csv(path)

df = df1.copy()

01.  who made most monet(HOW)
2.   who made less money(WHY)

In [5]:
df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48895 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48895 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [ ]:
df.isnull().sum(axis = 0)

Droping NaN values from column 'name'  and 'host_name'.

Not droping 'last_review' and 'review' from DataFrame bcause 
*   Reviews are written by customers and didn't write and be sore     other error like not get up loaded 
*   It will make dataset short which later effect my other analys.

In [7]:
#just checking value of 'name' column with NaN value
df[ df['name'].isnull()]

             id name  ...  calculated_host_listings_count availability_365
2854    1615764  NaN  ...                               1              362
3703    2232600  NaN  ...                               1              341
5775    4209595  NaN  ...                               1                0
5975    4370230  NaN  ...                               1                0
6269    4581788  NaN  ...                               1                0
6567    4756856  NaN  ...                               1                0
6605    4774658  NaN  ...                               1                0
8841    6782407  NaN  ...                               1                0
11963   9325951  NaN  ...                               1                0
12824   9787590  NaN  ...                               5                0
13059   9885866  NaN  ...                               1                0
13401  10052289  NaN  ...                               1              362
15819  12797684  NaN  ...                               2                0
16071  12988898  NaN  ...                               1              365
18047  14135050  NaN  ...                               1                0
28889  22275821  NaN  ...                               1                0

[16 rows x 16 columns]

In [8]:
df.index[ df['name'].isnull()]

Int64Index([ 2854,  3703,  5775,  5975,  6269,  6567,  6605,  8841, 11963,
            12824, 13059, 13401, 15819, 16071, 18047, 28889],
           dtype='int64')

In [9]:
#giving value NaN value in 'name' column 
#value = unknown and  
df['name'][ df['name'].isnull()]  = df['id'].apply(lambda x: 'unknown'+str(x))
df[ df['name'].isnull()]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

In [10]:
null_host_name_index = df.index[ df['host_name'].isnull()]
null_host_name_index

Int64Index([  360,  2700,  5745,  6075,  6582,  8163,  8257,  8852,  9138,
             9817, 14040, 14631, 15174, 19565, 27777, 27962, 28042, 28274,
            30570, 32193, 38992],
           dtype='int64')

In [11]:
df[ df['host_name'].isnull()]

             id  ... availability_365
360      100184  ...               88
2700    1449546  ...              342
5745    4183989  ...              359
6075    4446862  ...                0
6582    4763327  ...                0
8163    6292866  ...              318
8257    6360224  ...                0
8852    6786181  ...              342
9138    6992973  ...                0
9817    7556587  ...                0
14040  10709846  ...                0
14631  11553543  ...                0
15174  12113879  ...              217
19565  15648096  ...               26
27777  21787094  ...                0
27962  21867710  ...                0
28042  21901156  ...                0
28274  21990808  ...                0
30570  23660605  ...                0
32193  25180572  ...                0
38992  30468335  ...               69

[21 rows x 16 columns]

In [12]:
df['host_name'][ df['host_name'].isnull()] = df.id.apply(lambda x: 'host_name'+'_'+str(x))
df.iloc[null_host_name_index].head(5)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

           id  ... availability_365
360    100184  ...               88
2700  1449546  ...              342
5745  4183989  ...              359
6075  4446862  ...                0
6582  4763327  ...                0

[5 rows x 16 columns]

In [13]:
len(df.id.unique())

48895

In [14]:
df.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48895 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48895 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [15]:
print('id\n\n',df['id'].duplicated().value_counts())

print('\n\nname\n\n',df['name'].duplicated().value_counts())

print('\n\nhost_id\n\n',df['host_id'].duplicated().value_counts())

print('\n\nhost_name\n\n',df['host_name'].duplicated().value_counts())

id

 False    48895
Name: id, dtype: int64


name

 False    47921
True       974
Name: name, dtype: int64


host_id

 False    37457
True     11438
Name: host_id, dtype: int64


host_name

 True     37422
False    11473
Name: host_name, dtype: int64

In [16]:
df[['host_id','host_name']].duplicated().value_counts()

False    37460
True     11435
dtype: int64

In [50]:
f = df['host_name'][df[['host_name','host_id']].duplicated()].unique()  #sort_values(by=['host_name'])
len(f)

2942

In [51]:
f = df['host_id'][df[['host_name','host_id']].duplicated()].unique()  #sort_values(by=['host_name'])
len(f)

5152

In [52]:
f = df['name'][df['name'].duplicated()].unique()  #sort_values(by=['host_name'])
len(f)

645

In [61]:
f[0]
df[df['name'] == f[4]].sort_values(by = ['last_review'])

         id  ... availability_365
669  253471  ...               84
833  294280  ...               81
829  294242  ...               84
675  253803  ...               60
827  294227  ...               84
668  253466  ...               60
670  253475  ...               60
678  253815  ...               84
832  294263  ...               62
676  253806  ...               60
677  253811  ...               56

[11 rows x 16 columns]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48895 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48895 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB